---
title: About me!
date: 2025-12-17
---




<!DOCTYPE html>
<html lang="en">


<head>

   
     {% include "partials/defstyle.njk" %}

     <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>
<body>



  

  <div class="mainmaindiv">


   
  

 

<div class="maindiv">
    

  {% include "partials/header.njk" %}
       
        

<br><br>


<div class="betterparentboxcenter" style="max-width: 700px;">

 

    <div>
        
        <img src="./resources/images/finkleman.png" class="indicator2"> </img>

      </div>


<div class="textcenter">
    <p class="betterp">
        <b>Hello!</b>
  
        I am kerchunkle, 24, currently studying electrical, energy and computer engineering (ECEE) [ONE SEMESTER LEFT!]
        I really like complicated systems and doing technical projects in my free time.
        I am also pretty artistic, and love creating art in my free time. I just love the old web, it seems 
        like a much more creative and fulfilling version of the social media hellscape we have going on currently. 
    </p>
</div>




 

</div>
 

  <br><br>
<hr style="border-top: dashed 2px;" />
 

        <div class="parentboxcenter">

<img src="./resources/images/heybaby.gif" class="indicatorp5" > </img>
<img src="./resources/images/fishspin.gif" class="indicatorp5" > </img>
<img src="./resources/images/heaven.gif" class="indicatorp5" > </img>


<img src="./resources/images/heybaby.gif" class="indicatorp5" > </img>
<img src="./resources/images/fishspin.gif" class="indicatorp5" > </img>
<img src="./resources/images/heaven.gif" class="indicatorp5" > </img>

<img src="./resources/images/heybaby.gif" class="indicatorp5" > </img>
<img src="./resources/images/fishspin.gif" class="indicatorp5" > </img>
<img src="./resources/images/heaven.gif" class="indicatorp5" > </img>

<img src="./resources/images/heybaby.gif" class="indicatorp5" > </img>
<img src="./resources/images/fishspin.gif" class="indicatorp5" > </img>
<img src="./resources/images/heaven.gif" class="indicatorp5" > </img>

      </div>
       

    <div class="parentboxcenter"style="margin: 10px;">

   

      <div class="childtextbox" style="max-width: 300px; ">


        <h3>Interests</h3>

        <p> 
        <br>
        &#8226; Video games
        <br>
        &#8226; Hiking
        <br>
        &#8226; <a href="drawings.html">drawing</a>
        <br>
        &#8226; Reading
        <br>
        &#8226; <a href="music.html">guitar</a>
        <br>
        &#8226;<a href="https://www.chess.com/member/chessmanhahawoo">chess</a> (sometimes)
        <br>
        &#8226; manga
        <br>
        &#8226; anime
        <br>
        &#8226; writing
        <br>
        &#8226; journaling</a>
        <br>
        &#8226; puzzles, puzzle games
        <br>
        &#8226; board games
        <br>
        &#8226; running
        <br>
        &#8226; weightlifting
      
        </p>

    

      </div>



         <div class="childtextbox" style="max-width: 600px;">


        <h3>personality</h3>
    
    
        <p class="betterp"> 
        
          I have since stopped beliving in the meyer briggs tests for 
          personality, since its all sort of <a href="https://www.bbc.com/news/blogs-echochambers-28315137"> made up</a> But the last time 
          I took it I was an intj so do with that as you will. 

          Overall, I would say I am a layed back person,
          depending on circumstance. I get along with most 
          people pretty well, with the exception of engineering 
          types who usually ignore me out of social inepitude. 
          
          I love a good personal project and for the last 
          year or so I've been making up for a poor social 
          life with plenty of those. 

          In periods of high stress I tend to get a little 
          nerotic, so if I suddenly stop communication 
          thats why (sorry). I try to pick conversations 
          back up when I start feeling better.


        </p>


        <div>

  
        </div>
      
    
      </div>
    

  


       </div>


              <div class="parentboxcenter">

 <img src="./resources/images/underthedarmicwheel.gif" class="indicatorp5"> </img>
  <img src="./resources/images/dance-macarena.gif" class="indicatorp5"> </img>
   <img src="./resources/images/fhisspin2.gif" class="indicatorp5"> </img>


   <img src="./resources/images/underthedarmicwheel.gif" class="indicatorp5"> </img>
 <img src="./resources/images/dance-macarena.gif" class="indicatorp5"> </img>
  <img src="./resources/images/fhisspin2.gif" class="indicatorp5"> </img>


     <img src="./resources/images/underthedarmicwheel.gif" class="indicatorp5"> </img>
      <img src="./resources/images/dance-macarena.gif" class="indicatorp5"> </img>
       <img src="./resources/images/fhisspin2.gif" class="indicatorp5"> </img>
      </div>

        <br><br>
<hr style="border-top: dashed 2px;" />


{% include "partials/footer.njk" %}
</div>
 

 <div class="leftsidebar"> 
   <h2 class="lefttext" style="margin: 10px;">Media reqs:</h2>
    <p style="font-size: 10px; margin: 10px;">last updated: 1-10-2026</p>

   





    <div class="scrollme" style="height:auto">


        <h3>music</h3>

        <p> Heres some of the music I am into
        <br>
        &#8226; machine girl
        <br>
        &#8226; death grips
        <br>
        &#8226; aphex twin
        <br>
        &#8226; windowshopping
        <br>
        &#8226; mayhem
        <br>
        &#8226; death
        <br>
        &#8226; sepultura
        <br>
        &#8226; pantera 
        <br>
        &#8226; slayer
        <br>
        &#8226; vaporwave in general
        <br>
        &#8226; a tribe called quest
        <br>
        &#8226; wutang clan
        <br>
        &#8226; dnb/jungle in general
        <br>
        &#8226; NIN
        <br>
        &#8226; melvins
        <br>
        &#8226; acid bath
        <br>
        &#8226; eyehategod
        <br>
        &#8226; misfits
        <br>
        &#8226; nirvanna 
        <br>
        &#8226; the cramps
        <br>
        &#8226; joy division
        <br>
        &#8226; electric wizard
        <br>
        &#8226; sleep
        <br>
        &#8226; napalm death
        <br>
        &#8226; femtanyl
        <br>
        &#8226; obituary

        <br>
        &#8226; candlemass
        <br>
        &#8226; vertigoaway
        <br>
        &#8226; sewerslvt
        <br>
        &#8226; deftones
        <br>
        &#8226; duran duran
        <br>
        &#8226; morbid angel

        <br>
        &#8226; carcass
        <br>
        &#8226; type o negative
        <br>
        &#8226; crystal castles
        <br>
        &#8226; talking heads
        <br>
        &#8226; clown core
        <br>
        &#8226; cortex
     
        <br>
        &#8226; goreshit
        <br>
        &#8226; the doors
        <br>
        &#8226; king gizzy an the lizzy wizzy
        <br>
        &#8226; µ ziq
        <br>
        &#8226; dri
        <br>
        &#8226; black flag

        <br>
        &#8226; the garden 
        <br>
        &#8226; alice in chains
        <br>
        &#8226; ronnie foster
        <br>
        &#8226; roy ayers
        <br>
        &#8226; kfc murder chicks
        <br>
        &#8226; herbie hancock
        <br>
      
     
     
     
      
        </p>


        
       

    
        </div>

    
          <div class="scrollme" style="height:auto">


        <h3>Shows</h3>

        <p class="betterp"> Heres a few shows I've watched
        &#8226; chernobyl 10/10
        &#8226; Narcos 10/10
        &#8226; Fargo 10/10
        &#8226; seinfeld 10/10

        &#8226; it's always sunny in philadelphia 6-8/10
        I did stop halfway with this one 
        so maybe it gets better idk

        &#8226; yellowstone 7/10
        also stopped halfway with this

        </p>


        
       

    
        </div>


           
          <div class="scrollme">
            
            <h3>Manga</h3>
            <p>I freaking love manga!!!!!
              <br>
      &#8226; berserk 5/5
      <br>
      &#8226; Uzumaki 5/5
      <br>
      &#8226; <a href="heaven.html">heaven</a>ly delusion 5/5 
      <br>
      &#8226; the fable 7/10 currently reading
      <br>
      &#8226; shadows house 8/10 currently reading
      <br>
      &#8226; ajin 8/10 currently reading 
      <br>
      &#8226; Tomie 5/5
      <br>
      &#8226; Dissolving Classroom 5/5
      <br>
      &#8226;  dandadan 7/10 
     
   



            </p>
          
          </div>



          
            <div class="scrollme">
            
              <h3>Books</h3>
              <p>Heres some of my favorite books:
                <br>
        &#8226; Catch 22
        <br>
        &#8226; Hp Lovecraft collection: dreams of terror and death
        <br>
        &#8226; a confederacy of dunces
        <br>
        &#8226; Frankenstien
        <br>
        &#8226; The long walk 
        <br>
        &#8226; The fellowship of the ring 
        <br>
        &#8226; the metamorphosis
        <br>
        &#8226; The portrait of dorian gray
        <br>
        &#8226; Tale of two cities
        <br>
        &#8226; Brave new world
        <br>
        &#8226; Pet Sematary
        <br>
        &#8226; Fahrenheit 451
        <br>
        &#8226; Julius ceasar
        <br>
        &#8226; The Time Machine 
        <br>
        &#8226; 1984
     


              </p>
            
            </div>


            <div class="scrollme">
            
              <h3>Anime</h3>
              <p>Here some anime I've enjoyed::
                <br>
        &#8226; Akira 
        <br>
        &#8226; golden kamuy (currently watching)
        <br>
        &#8226; Neon genesis evangelion 
               
        <br>
        &#8226; elfen lied
        <br>
        &#8226; Another
        <br>
        &#8226; tokyo ghoul
        <br>
        &#8226;  dorohedoro
        <br>
        &#8226; chainsaw man
        <br>
        &#8226;  prison school
        <br>
        &#8226; kill la kill
        <br>
        &#8226; soul eater
        <br>
        &#8226; golden boy 
        <br>
        &#8226;cowboy bebop
        <br>
        &#8226; Space Dandy
        <br>
        &#8226; Dungeon meshi
        <br>
        &#8226; Jojo's bizarre adventure (my favorite)
       
     


              </p>
            
            </div>

           
                 <div class="scrollme">
            
              <h3>video games</h3>
              <p>Here are my fav games:
                <br>
        &#8226; rimworld
        <br>
       
     


              </p>
            
            </div>

           



</div>




    </div>




</div>









</body>
</html>
