---
title: Welcome to my homepage!
date: 2025-12-17
---




<!DOCTYPE html>
<html lang="en">


<head>

   
     {% include "partials/defstyle.njk" %}

     <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>
<body>



  

  <div class="mainmaindiv">


   
  

 

<div class="maindiv">
    

  {% include "partials/header.njk" %}
       
        

<br><br>


<div class="betterparentboxcenter">

 

    <div>
        
        <img src="./resources/images/finkleman.png" class="indicator2"> </img>

      </div>

<div>
    <p class="betterp">
        <b>Hello!</b>
  
        Welcome to my website, this is a repository 
        for blog posts, projects and more! I hope 
        you find something interesting while you
        are here!

        Take a look around or check out my latest post!
    </p>
</div>


 

</div>
 

 

<br><br>
<hr>







  <div>

    <h2 class="lefttext">featured:</h2>
    
    {% for post in collections.ffeatured reversed %}
    <h3 class="centertext"> 
      {{ post.data.title }}
    </h3>
    {% endfor %}

</div>

  {% for post in collections.ffeatured reversed %}




<div class="betterparentboxcenter">

 


    <div>
        
        <img src="{{ post.data.image }}" class="indicator5"> </img>

      </div>

      </div>

   

      <div class="betterparentboxcenter">
<div class="betterpf">
  {{ post.data.description }}
</div>
    


</div>

 
<div class="betterparentboxcenter">

  <div class="betterp"> 
    see the rest of this post <a href=" .{{ post.url }}">here</a>
  </div>

</div>



  {% endfor %}





  <br><br>
<hr style="border-top: dashed 2px;" />





<div>

    <h2 class="lefttext">more featured:</h2>
</div>




<div class="scrollme">

    <ul>
  

  {% for post in collections.featured reversed%}

 

   <li><a href=".{{ post.url }}">{{ post.data.title }}</a></li> <br>


   

  {% endfor %}

</ul>

</div>










<br><br>




<br><br>
<hr style="border-top: dotted 10px;" />

<div>

    <h2 class="lefttext">all posts:</h2>
</div>




<div class="scrollme">

    <ul>
  

  {% for post in collections.posts reversed%}

 

   <li><a href=".{{ post.url }}">{{ post.data.title }}</a></li> <br>


   

  {% endfor %}


</ul>



</div>


<br><br><br><br>


<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=kerchunkleknoughts" defer></script>




   



{% include "partials/footer.njk" %}
</div>
 

 <div class="leftsidebar"> 


      <br><br>
      <br><br>
    
       <div class="parentboxscroll">

      <div> 
    <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#383838" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
      
    <script data-widget="images" src="https://rock-webring.neocities.org/webstring.js"></script>

    <div id='gfdkris'> 
      <script type="text/javascript" src="https://fabstarotcorner.neocities.org/webring/onionring-variables.js"></script>
      <script type="text/javascript" src="https://fabstarotcorner.neocities.org/webring/onionring-widget.js"></script>

  </div>
  

  <a href="https://spursthatjinglejangle.neocities.org/">
    <img src="https://spursthatjinglejangle.neocities.org/WebringImgs/NCRwidget.gif" style="width:175px;margin-left:0px;margin-top:px;">
  </a>

  <a href="https://pankesito.neocities.org/"><img src="https://spursthatjinglejangle.neocities.org/WebringImgs/LArrow.png" style="width:35px;margin-left:0px;margin-top:px;text-align:"></a>
  
  <a href="https://frenchexit2014.neocities.org/"><img src="https://spursthatjinglejangle.neocities.org/WebringImgs/RArrow.png" style="width:35px;margin-left:0px;margin-top:px;text-align:"></a>



  <div>
    <script src="https://silly.possiblyaxolotl.com/ring/webstring.js"></script>
  </div>      

  <div>
    <div id='skibiring'> <script type="text/javascript" src="https://ultrakill.nekoweb.org/onionring-variables.js"></script> <script type="text/javascript" src="https://ultrakill.nekoweb.org/onionring-widget.js"></script> </div>
  </div>






  <div id='aperturewebring'>
    <script type="text/javascript" src="https://jack-dawlia.neocities.org/page/shrines/portal/aperturewebring/onionring-variables.js"></script>
    <script type="text/javascript" src="https://jack-dawlia.neocities.org/page/shrines/portal/aperturewebring/onionring-widget-1.js"></script>
    <noscript>
    This site is part of the <a href="https://jack-dawlia.neocities.org/page/shrines/portal/aperturewebring">Aperture Webring</a>!
    </noscript>
    </div>





    <div>
      <script src="https://nuthead.neocities.org/ring/ring.js"></script>
      </div>




  </div>  
      

    </div>

      <br><br>
      <br><br>

      <div class="parentboxcenter">
    
    <div >

    <p style="font-family: 'Segoe UI Symbol', 'Noto Sans Symbols', 'Arial Unicode MS'">
      ♟❶ℯ✺◘<a href="guestbook.html">Neighbors!</a>∴✧℩❦☯☊
    </p>
 





   



      <a href="https://helosova.neocities.org"><img src="https://helosova.neocities.org/images/buttons/obsidian.png" width="100" height="35" alt=""></a>

      <a href="https://radrocket.neocities.org/" target="_blank"><img alt="radrocket's button" src="https://files.catbox.moe/zner18.gif" height="31px" width="88px"></a>

      <a href="https://wizardswagon.neocities.org/"><img src="https://wizardswagon.com/buttons/wizwag_button.png"></a>

      
      
      <a href="https://irony-machine.neocities.org/"><img src="	https://irony-machine.neocities.org/buttons/buttons/irony-machine2.gif"></a>


      <a href="https://xavierhm.com/" target="_blank"><img width="88px" height="31px" src="https://xavierhm.com/graphics/buttons/sitebutton/xavierhmsitebutton.gif"></a>
      
      
       <a href="https://orcassiea.nekoweb.org" target="_blank"><img src="https://orcassiea.nekoweb.org/graphics/sitebutton.png"></a>
          <a href="https://guh.nekoweb.org/" target="_blank"><img src="https://guh.nekoweb.org/myguhsite.gif"></a>



   

  </div>

    </div>

    <br><br>
    <br><br>
    
    <div class="betterparentboxcenter">
            <iframe aria-label="Guestbook" id="guestbook" src="https://kerchunkle.atabook.org/" style="border: 0px none;  height: 500px; margin-top: 0px; width: 200px;" loading="lazy"></iframe>
            </div>

        
    <br><br>
    <br><br>


          
              
               <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index">
                        <img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png" class="neighborhoodbuttonchild"></img>
                          </a>
            
               <textarea id="w3review" name="w3review" rows="4" cols="10" >
                        <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index"><img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png"></img></a>
                        </textarea>

                   


    </div>




</div>









</body>
</html>
