---
title: Welcome to my homepage!
date: 2025-12-17
---




<!DOCTYPE html>
<html lang="en">


<head>

   
     {% include "partials/defstyle.njk" %}

     <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>
<body>



  

  <div class="mainmaindiv">


   
  

 

<div class="maindiv">
    

  {% include "partials/header.njk" %}
       
        

<br><br>


<div class="betterparentboxcenter">

 

    <div>
        
        <img src="./resources/images/finkleman.png" class="indicator2"> </img>

      </div>

<div>
    <p class="betterp">
        <b>Hello!</b>
  
        Welcome to my website, this is a repository 
        for blog posts, projects and more! I hope 
        you find something interesting while you
        are here!

        Take a look around or check out my latest post!
    </p>
</div>


 

</div>
 

 

<br><br>
<hr>







  <div>

    <h2 class="lefttext">featured:</h2>
    
    {% for post in collections.ffeatured reversed %}
    <h3 class="centertext"> 
      {{ post.data.title }}
    </h3>
    {% endfor %}

</div>

  {% for post in collections.ffeatured reversed %}




<div class="betterparentboxcenter">

 


    <div>
        
        <img src="{{ post.data.image }}" class="indicator5"> </img>

      </div>

      </div>

   

      <div class="betterparentboxcenter">
<div class="betterpf">
  {{ post.data.description }}
</div>
    


</div>

 
<div class="betterparentboxcenter">

  <div class="betterp"> 
    see the rest of this post <a href=" .{{ post.url }}">here</a>
  </div>

</div>



  {% endfor %}





  <br><br>
<hr style="border-top: dashed 2px;" />





<div>

    <h2 class="lefttext">more featured:</h2>
</div>




<div class="scrollme">

    <ul>
  

  {% for post in collections.featured reversed%}

 

   <li><a href=".{{ post.url }}">{{ post.data.title }}</a></li> <br>


   

  {% endfor %}

</ul>

</div>










<br><br>




<br><br>
<hr style="border-top: dotted 10px;" />

<div>

    <h2 class="lefttext">all posts:</h2>
</div>




<div class="scrollme">

    <ul>
  

  {% for post in collections.posts reversed%}

 

   <li><a href=".{{ post.url }}">{{ post.data.title }}</a></li> <br>


   

  {% endfor %}


</ul>



</div>


<br><br><br><br>


<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=kerchunkleknoughts" defer></script>

<br><br><br><br>

<iframe data-testid="embed-iframe" style="border-radius:12px " src="https://open.spotify.com/embed/track/7lwlUZynuJUJ9LvfIjoHQQ?utm_source=generator" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


<div class="parentboxcenter">
  <div class="childtextboxpadded">
  <P>
    dont support spotify btw, <a href="https://spicetify.app/">pirate</a> it
  </P>
  </div>
</div>


{% include "partials/footer.njk" %}
</div>
 

 <div class="leftsidebar"> 


  


<div class="buttonbox"> 
  <div>
          <img src="./resources/buttons/bl.gif"> </img>
        </div>
               <div>
          <img src="./resources/buttons/deathgrips.gif"></img>
        </div>
</div>

<div class="buttonbox">  
  <div>
                      <img src="https://neotomic.neocities.org/buttonsnstuff/buttons/piracy.gif">
        </div>
               <div>
           <img src="./resources/buttons/scenequeen_jerma985.png"></img>
        </div>
</div>

          
<div class="buttonbox">  
  <div>
               <img src="./resources/buttons/nichijou.webp"></img>
        </div>
               <div>
                 <img src="./resources/buttons/idea.jpg"></img>
        </div>
</div>


  

    
      <br>
    
       <div class="parentboxscroll">

      <div> 
    <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#383838" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
      

    <div align="center" id="rockwidget-image">
    <div id="flex">
    <a href="https://thegreatpretender02.neocities.org//"><img src="https://rock-webring.neocities.org/widget/guitarheadleft.png" alt="prev"></a>
    <a href="https://rock-webring.neocities.org/"><img src="https://rock-webring.neocities.org/widget/rockring.png" alt="ROCK-webring"></a>
    <a href="https://fr3akz0ne.com/"><img src="https://rock-webring.neocities.org/widget/guitarheadright.png" alt="next"></a>
    </div>
    <a href="https://form-and-thearchive.neocities.org/"><img src="https://rock-webring.neocities.org/widget/die.png" alt="random"></a>
  </div>

    


        <div class="ring comic-neue-bold" id="sillyring" style="display: inline; text-align: center; width:min-content; gap: 8px">
            <img id="sillyring-image" class="glooble" src="/tbhspin.gif"><br>
            <a href="#">◄</a>      
            <a href="#">sillyring</a>
            <a href="#">►</a>
          </div>

          

          <div style="max-width: 200px;">

          
          <script src="https://aviatorlaw.neocities.org/webring.js"></script>
            </div>
         




<div id='gamer-ring'>
<script type="text/javascript" src="https://gamerring.neocities.org/js/variables.js"></script>
<script type="text/javascript" src="https://gamerring.neocities.org/js/widget-minimal.js"></script>
</div>
     

  <div>
    <div id='skibiring'> <script type="text/javascript" src="https://ultrakill.nekoweb.org/onionring-variables.js"></script> <script type="text/javascript" src="https://ultrakill.nekoweb.org/onionring-widget.js"></script> </div>
  </div>


  <div id="gfdkris">
  <div class="kwtfaw-div">
  
    <a href="https://fabstarotcorner.neocities.org/webring/sites.html" class="kwtfaw-top">
    
      <img class="kwtfaw-img" src="https://fabstarotcorner.neocities.org/webring/assets/button/webringbutton.png">
      
      <img class="kwtfaw-img" src="https://fabstarotcorner.neocities.org/webring/assets/button/bubble.svg" alt="kris where tf are we">
      
    </a>
    <div class="kwtfaw-controls">
    <a class="kwtfaw-button" href="https://maniksharma.xyz/"> 
      <img class="kwtfaw-control" src="https://fabstarotcorner.neocities.org/webring/assets/button/prev.svg" alt="prev"> 
    </a>
    <a class="kwtfaw-button" href="javascript:void(0)" onclick="randomSite()">
      <img class="kwtfaw-control" src="https://fabstarotcorner.neocities.org/webring/assets/button/what.svg" alt="prev"> </a>
    <a class="kwtfaw-button" href="https://huroncelestial.neocities.org/"> 
      <img class="kwtfaw-control" src="https://fabstarotcorner.neocities.org/webring/assets/button/next.svg" alt="prev">  </a>
    </div>

  </div>

  <style>
 /*@font-face { font-family: deltarune; src: url('https://fabstarotcorner.neocities.org/webring/deltarune.ttf'); } 
 @font-face { font-family: determination; src: url('https://fabstarotcorner.neocities.org/webring/DTM-Mono.otf'); } 
 @font-face { font-family: mercy; src: url('https://fabstarotcorner.neocities.org/webring/MERCY.otf'); } */
    


    .kwtfaw-img{
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        margin:0px;
        width:100%;
    }
 
    
    
    .kwtfaw-top{
    display:flex;
    flex-direction:column;
    gap:0px;
    }


    .kwtfaw-div{
      font-family:determination;
      display:flex;
      flex-direction:column;
      justify-content:center;
      justify-items:center;
      align-items:center;
      gap:0px;
      max-width:150px;
      
    }
    
    #gfdkris{
    display:flex;
    justify-content:center;
    }

    kwtfaw-top{
      > *{
      gap:0px;
      margin:0px;
      padding:0px;}
    }

    .kwtfaw-controls{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      gap:5px;
      margin-top:2px;
      max-width:200px;
    }
    .kwtfaw-text{
      font-size:8px;
      letter-spacing:-1px;
      border: 1px solid white;
      background-color:black;
      padding:1px 3px 1px 3px;
      color:white;
    }

    .kwtfaw-button{
      font-size:9px;
      font-family:determination;
      color: #fb7f26 !important;
      border:solid 1px black;
      background-color:black;
      width:30%;
    }
       
    .kwtfaw-control{
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        width:100%;
    }

    .kwtfaw-button:visited{
     color: #fb7f26 !important;

    }

    .kwtfaw-button:hover{
      border:solid 1px #fb7f26;
    }
  </style>
  
                    <script type="text/javascript" src="./onionring-variables.js"></script>
                    <script type="text/javascript" src="./onionring-widget.js"></script>
                  </div>


<div class="aperturewebring">
        <table>
            <tbody><tr>
              <td class="webring-prev"><a href="https://jack-dawlia.neocities.org/page/shrines/portal/aperturewebring" style="color: #2c98f7;">←</a></td>
              <td class="webring-info"><a href="https://jack-dawlia.neocities.org/page/shrines/portal/aperturewebring" style="color: #2c98f7;"><img src="https://jack-dawlia.neocities.org/image/aperture-webring-blue.png" alt="The Aperture Webring" style="max-width:100%"></a><br>
              <span class="webring-links">
                <a href="" onclick="" style="color: #2c98f7;">random</a>
                
              </span></td><td class="webring-next"><a href="https://jack-dawlia.neocities.org/page/shrines/portal/aperturewebring" style="color: #2c98f7;">→</a></td>
            </tr>
          </tbody>
          </table>
        </div>



    <div>
      <script src="https://nuthead.neocities.org/ring/ring.js"></script>
      </div>








<!-- put this in your <body> -->
<div id="tvtimering">
<script
type="text/javascript"
src="https://thegreenroom.neocities.org/webrings/tvtimewebring/onionring-variables.js"
></script>
<script
type="text/javascript"
src="https://thegreenroom.neocities.org/webrings/tvtimewebring/onionring-widget.js"
></script>













</div>





  <div id='musicians-ring'>
  <script type="text/javascript" src="https://lydels.neocities.org/musicianswebring/onionring-variables.js"></script>
  <script type="text/javascript" src="https://lydels.neocities.org/musicianswebring/onionring-widget.js"></script>
</div>
              



<div style="width:200px;">
<a href="https://www.virtuagirl.net/webring.htm#{WTF}0"><-</a> <!-- REPLACE "{IDENTIFIER}" WITH /YOUR/ IDENTIFIER-->
<a href="https://www.virtuagirl.net/yuriwebring">YAOI WEBRING</a>
<a href="https://www.virtuagirl.net/webring.htm#{WTF}1">-></a> <!-- REPLACE "{IDENTIFIER}" WITH /YOUR/ IDENTIFIER-->
</div>





  </div>  
    
    </div>









































      <br>

      <div class="parentboxcenter">
    
    <div >

    <p style="font-family: 'Segoe UI Symbol', 'Noto Sans Symbols', 'Arial Unicode MS'">
      ♟❶ℯ✺◘<a href="guestbook.html">Neighbors!</a>∴✧℩❦☯☊
    </p>
 





   



      <a href="https://helosova.neocities.org"><img src="https://helosova.neocities.org/images/buttons/obsidian.png" width="100" height="35" alt=""></a>

      <a href="https://radrocket.neocities.org/" target="_blank"><img alt="radrocket's button" src="https://files.catbox.moe/zner18.gif" height="31px" width="88px"></a>

      <a href="https://wizardswagon.neocities.org/"><img src="https://wizardswagon.com/buttons/wizwag_button.png"></a>

      
      
      <a href="https://irony-machine.neocities.org/"><img src="	https://irony-machine.neocities.org/buttons/buttons/irony-machine2.gif"></a>


      <a href="https://xavierhm.com/" target="_blank"><img width="88px" height="31px" src="https://xavierhm.com/graphics/buttons/sitebutton/xavierhmsitebutton.gif"></a>
      
      
       <a href="https://orcassiea.nekoweb.org" target="_blank"><img src="https://orcassiea.nekoweb.org/graphics/sitebutton.png"></a>
          <a href="https://guh.nekoweb.org/" target="_blank"><img src="https://guh.nekoweb.org/myguhsite.gif"></a>



   

  </div>

    </div>


    <br>
    
   

          
              
               <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index">
                        <img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png" class="neighborhoodbuttonchild"></img>
                          </a>
            
               <textarea id="w3review" name="w3review" rows="4" cols="10" >
                        <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index"><img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png"></img></a>
                        </textarea>



<br><br>

                   
                             <img src="./resources/images/alabama.webp" class="indicator2"> </img>



<br><br>

                              <div class="parentboxcenter">

                                  <img src="./resources/images/underthedarmicwheel.gif" class="indicatorp5"> </img>

                                    <div class="childtextboxpadded">
                           
                                for the love of god come see my <a href="https://www.tumblr.com/kerchunkleknoughts">tumblr</a>
                        </div>

                              </div>





<br><br>



                              <div class="parentboxcenter">

                                  <img src="./resources/buttons/webdesign.gif"></img>

                                   
                                <div class="betterp">
                                neocities
                                <a href="https://neocities.org/site/kerchunkle">profile</a>
                 
                                </div>
                                

                              </div>


                              <br><br>


<div class="buttonbox">  
  <div>
               <img src="./resources/buttons/bic.jpg"></img>
        </div>

</div>





                              
    <br><br>


                               <div class="betterparentboxcenter">
            <iframe aria-label="Guestbook" id="guestbook" src="https://kerchunkle.atabook.org/" style="border: 0px none;  
            height: 500px; margin-top: 0px; width: 200px;" loading="lazy"></iframe>
            </div>

        <br>
    
            <div class="buttonbox">  
  <div>
                   <img src="https://dirtbois-page.neocities.org/blinkies/20.gif" style="width:150px; height:20px;">
        </div>
            </div>



                   <div class="buttonbox">  
  <div>
                 <img src="./resources/buttons/buttons a/hl.gif"> </img>


        </div>

          <div>
          <img src="./resources/buttons/rockydive.gif"></img>
        </div>


        </div>

 

        
                   <div class="buttonbox">  
  <div>
                
<img src="./resources/buttons/ex.jpg"></img>

        </div>

          <div>
          
            <img src="./resources/buttons/buttons a/ralseismokingadart.gif"> </img>
        </div>


        </div>

 


         
                   <div class="buttonbox">  
  <div>
                
<img src="./resources/buttons/ia.png"></img>

        </div>


        </div>

 


</div>




    </div>




</div>









</body>
</html>
