---
title: Welcome to my guestbook!
date: 2025-12-17
---



{% assign hostpath = "https://kerchunkleknoughts.github.io/mainblog/" %}
{% assign hostpath = "./" %}



<!DOCTYPE html>
<html lang="en">
<head>

   
     {% include "partials/defstyle.njk" %}

     <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>


<body>


<div class="mainmaindiv">
<div class="maindiv">
    

  {% include "partials/header.njk" %}
       
        

<br><br>





<br>

<div class="parentbox">






<div>
<img src="{{hostpath}}resources/images/fallout.png" id="fall2" class="grower2" onmouseover="change_review_name('fallout season 2',

'THIS IS A TEST OH YEAHH'


)" > </img>
<p>Fallout season 2</p>
</div>




<div>
<img src="{{hostpath}}resources/images/fallout.png" id="fall2" class="grower2" onmouseover="change_review_name('fuck youu',

'Test NUMBER 2 OH YEAH'


)" > </img>
<p>Fallout season 2</p>
</div>

<div>
<img src="{{hostpath}}resources/images/fallout.png" id="fall2" class="grower2" onmouseover="change_review_name('fuck youu',

'Test NUMBER 2 OH YEAH'


)" > </img>
<p>Fallout season 2</p>
</div>





</div>

<br><br>

<div class="parentbox">






<div>
<img src="{{hostpath}}resources/images/fallout.png" id="fall2" class="grower2" onmouseover="change_review_name('fallout season 2',

'THIS IS A TEST OH YEAHH'


)" > </img>
<p>Fallout season 2</p>
</div>




<div>
<img src="{{hostpath}}resources/images/fallout.png" id="fall2" class="grower2" onmouseover="change_review_name('fuck youu',

'Test NUMBER 2 OH YEAH'


)" > </img>
<p>Fallout season 2</p>
</div>

<div>
<img src="{{hostpath}}resources/images/fallout.png" id="fall2" class="grower2" onmouseover="change_review_name('fuck youu',

'Test NUMBER 2 OH YEAH'


)" > </img>
<p>Fallout season 2</p>
</div>





</div>






<br><br>
<hr>







{% include "partials/footer.njk" %}
</div>


<div class="rightsidebartravel">
<div id="currentreview">
    <div class="childtextboxpadded2">
        <p>
            Mouse over an item to see its review!
        </p>

    </div>
    
</div>

<br><br>

<div id="reviewtext">
    <div class="childtextboxpadded2">
        <p>
            My professional and academic, very serious, 
            option goes here. No laughing matter buddy. 
        </p>

    </div>
    
</div>


</div>




</div>


<br><br>





</div>

















</div>



</body>
</html>
