---
title: Super duper doggy blaster the video game
date: 2026-01-07
description: They are coming. Waves upon waves of assorted creeps, cretins, imbeciles and perverts. MAN THE DEFENSE! PROTECT YOUR HOME! Equipped with state of the art weaponry, show those fools what is good.
tags: 
- projects
- posts
- ffeatured
image: "resources/images/sddb4.png"
---
 {% assign library = "projects.html" %}




<!doctype html> 
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

      <meta http-equiv="refresh" content="0; url=https://kerchunkleknoughts.itch.io/super-duper-doggy-blaster-the-game">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/8bit.jpeg" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">
     project project project, mmm project

    </p>
</div>







{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>