---
title: spongebob benadryl adventure
date: 2025-08-01
description: Ya boy bobby had a little too much benadryl, join him in his trip through hell!
tags: 
- projects
- posts
---
 {% assign library = "projects.html" %}




<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

      <meta http-equiv="refresh" content="0; url=https://kerchunkleknoughts.github.io/dogwithablog.gov/projects/project00.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        

<br><br>



<div class="betterparentboxcenter">

 

    <div>
        
        <img src="../resources/images/8bit.jpeg" class="indicator5"> </img>

      </div>


</div>

<div class="betterparentboxcenter">
    <p class="betterp">
     project project project, mmm project

    </p>
</div>







{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 2 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>