---
title: Oh man I've been drawing!
date: 2026-06-06
description: Been drawing quite a bit lately! I am shooting for a more cartoony style in general but in the future I think I'll start focusing on my artistic fundamentals. Idk I think I'll start with like an actual study plan or like an anatomy book. 
tags: 
- projects
- posts
- featured
- fprojects

    


image: "resources/art/drawings/new_art_6-6-2026/20260606_150122.jpg"




---
 {% assign library = "projects.html" %}






      


<!doctype html>
<html lang="en">
  <head>

    


    <meta content="0; url=project1.html">

   
{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 








    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       
        




<br><br>






    {% assign indi = -1 %}
   
    {% assign brcnt = 0 %}

    {% assign midcond = 1 %}

    {% assign swapper = 1 %}

    {% assign swappee = 3 %}



    

  <audio id="bgm" loop>
    <source src="./resources/audio/Balatro Theme 4.mp3" type="audio/mpeg">
  </audio>
  
  





<br><br>
<div class="bparentbox">

 

  <div class="bchildtextbox"  >
             
            
                                            
                                                  
                                            
                                            
    <div class="textcenter">
       <p class="betterp">
        Here is my latest art! 

        Clicking on any picture will bring it to full screen 
        view, and clicking the full screen image minimizes it again. 
        uhhh and also sometimes the image is a little too big so you might 
        need to zoom out w ctrl +/- sorry still working on it.

        My full art directory can be found 
        here:  <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/drawings.html">art</a>
      </p>
        </div>
       
       
       

</div>
</div>
































{% for post in artpaths_2 %}
{% assign brcnt = brcnt | plus: 1 %}
{% assign midcond = 1 %}



<br><br><br>










{%- if brcnt == 1 -%}
{% assign midcond = 0 %}

<div class="bparentbox">





    <div class="bchildtextbox" style="height:auto" id="1">

        {% assign indi = indi | plus: 1 %}
      <a href="{{ post.path }}" target="new">
            <img src="{{ post.path }}" class="indicator3gal"></img>
        </a>

    </div>

{%- endif -%}














{%- if brcnt == swappee -%}
{% assign brcnt = 0 %}
{% assign midcond = 0 %}





{% assign swapper = swapper | times: -1 %}


{%- if swapper == 1 -%}
{% assign swappee = 3 %}



{%- else -%}
{% assign swappee = 2 %}


{%- endif -%}




<!-- this is end condition -->

 <div class="bchildtextbox"  id="1">

        {% assign indi = indi | plus: 1 %}
        <a href="{{ post.path }}" target="new">
            <img src="{{ post.path }}" class="indicator3gal"></img>
        </a>

        <div>
            
        </div>

    </div>


    




    </div>


  
    {%- endif -%}







{%- if midcond == 1 -%}

    <!-- this is cont condition -->

     <div class="bchildtextbox" id="1">

        {% assign indi = indi | plus: 1 %}
       <a href="{{ post.path }}" target="new">
            <img src="{{ post.path }}" class="indicator3gal"></img>
        </a>

       

    </div>

  {%- endif -%}








{% endfor %}
        

            











   
            <script>

              // THIS SECTION IS JUST FOR THE ON CLICK MAGNIFIER THING, you neeed
              // to put the other paths in the artpaths.json file in the data section.


let photo = [

"../resources/art/drawings/new_art_6-6-2026/20260606_150122.jpg",
"../resources/art/drawings/new_art_6-6-2026/20260606_150401.jpg",
"../resources/art/drawings/new_art_6-6-2026/fuck you.png",
"../resources/art/drawings/new_art_6-6-2026/20260606_150217.jpg",
"../resources/art/drawings/new_art_6-6-2026/20260606_150324.jpg",
"../resources/art/drawings/new_art_6-6-2026/20260606_150311.jpg",
"../resources/art/drawings/new_art_6-6-2026/20260606_152216.jpg",

];

            </script>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>










{% assign index = 3 %}

<br><br><br><br><br><br><br><br><br>



</div>
{% include "partials/contentfooter.njk" %}




 
 {% assign goption = 2 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>