---
title: Intro to rss
date: 2025-12-19
description: 
tags: 
- bposts
- posts

---
 {% assign library = "blog.html" %}




<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>






<div class="parentboxcenter">
<hr>
  <h1> What is rss? </h1>
<hr>
</div>




<div class="parentbox">

    <a href="../feed.xml">
<img src="../resources/images/RSS_Logo.png" class="journalindicator" style="height:100px" > </img>
</a>
</div>


     


<div class="parentbox">



<div class="parentbox">


<p class="betterp">
This symbol indicates that a page has an rss feed. 
RSS feeds allow you to get notifications about changes
to a website. Depending on how the webmaster sets up their 
site, rss updates can be manually created and personalized,
or they can be created automatically via 11ty. This site
uses a combination of both to send updates.  
</p>


</div>

</div>





<div class="parentboxcenter">
<hr>
  <h1> How do I receive rss updates? </h1>
<hr>
</div>




<div class="parentbox">
<img src="../resources/images/get_fed_loser_lol.png" class="journalindicator" style="height:100px ;width:150px" > </img>

</div>



<div class="parentbox">

<p class="betterp">
There are many apps which allow you to get updates about a site 
via rss. Personally I use a chrome extension called feedly. I will 
now walk you through setting up feeds with <a href="https://chromewebstore.google.com/detail/feedly/hipbfijinpcgfogaopmgehiegacbhmob">feedly.</a>
</p>


</div>

        


<div class="parentboxcenter">
<hr>
  <h1> Step 1. </h1>
<hr>
</div>



<div class="parentbox">
<img src="../resources/images/example-of-RSS-feed.png" class="journalindicator" style="height:180px ;width:300px" > </img>

</div>





    
<div class="parentbox" >

<p class="betterp" >
Whever the rss symbol is (bottom of page), click it. This will bring you to a page of what looks like code.
Make sure that the feedly extension is pinned in your chrome browser before going onto the 
next step.
</p>


</div>




<div class="parentboxcenter">
<hr>
  <h1> Step 2. </h1>
<hr>
</div>





<div class="parentbox">
    
<img src="../resources/images/dabar.png" style="height:50px ;width:250px" > </img>

</div>








<div class="parentbox">




<div class="parentbox">

<p class="betterp">
Now you want to click the feedly icon as seen in the figure. 
This will bring up a little menu which has in the upper right a 
button which says follow. Here you want to click that button. 
Here comes another annoying step, this will bring you to 
the rss page in feedly, which you have to press follow again, 
which should be right next to the name of the blog. I have no 
idea why it doesnt just sign you up for rss updates right 
after the first follow button but hey I dont make the rules. 
</p>


</div>

</div>


<div class="parentboxcenter">
<hr>
  <h1> Congratulations! </h1>
<hr>
</div>





<div class="parentboxcenter">

<img src="../resources/images/thumbs.png" class="journalindicator" style="height:120px" > </img>


<div class="parentbox">

<p class="betterp">
Now you have the ability to get updates about pages
all across the web!
</p>


</div>

</div>


<br><br>







{% assign index = 1 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>