---
title: Rimworld odessy run ship showcase
date: 2026-01-10
description: Come take a peek at the ship I made during my last rimworld run!
tags: 
- posts
- bposts
image: "resources/images/spaceship.png"
---
 {% assign library = "blog.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 

<div class="mainmaindiv">


    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>




<div class="parentboxcenter">
<hr>
  <h1> main ship </h1>
<hr>
</div>

<br><br>

<div class="parentbox">


<img src="../resources/images/spaceship.png" style="height:auto ; width: 500px;" > </img>

</div>







<div class="textcenter">
  <p class="betterp">
    This is the main ship, before I beat the 
    mechhive it was designed to be fully 
    equipped as a functional base, but 
    post mechhive I moved all of my stuff 
    to a space base on the hive itself. 
    Photos of that will be below. 

    Currently this ship serves to collect 
    wood and steel from tiles on the planet. 
    Hence the massive amount of storage containers
    you see in the image. 

    I keep a few pawns on the ship during 
    refuel missions and have my mechs go 
    out and collect stuff. This ensures
    that no pawns get injured during refuel 
    missions. 

    Also, I have a massive array of autocannons
    at the front of the ship. I got the idea from
    this <a href="https://www.reddit.com/r/RimWorld/comments/1m12w4d/adding_guns_to_my_ship_was_the_best_decision_ive/"> post </a>
  </p>
</div>




<div class="parentboxcenter">
<hr>
  <h1> main ship blueprint </h1>
<hr>
</div>



<div class="parentbox">


<img src="../resources/images/ship_layout.png" style="height:auto ; width: 500px;" > </img>

</div>


<div class="textcenter">
  <p class="betterp">
    here is the layout of the ship. 
    Everything is set up so that the 
    required inputs for each room are 
    in one of its neighboring rooms. 
  </p>
</div>


<div class="parentboxcenter">
<hr>
  <h1> moon base </h1>
<hr>
</div>



<div class="parentbox">


<img src="../resources/images/moonbase.png" style="height:auto ; width: 500px;" > </img>

</div>


<div class="textcenter">
  <p class="betterp">
    Here is the moon base!
    I have pawns who are best at crafting 
    live here while the main ship goes out to 
    collect resources. This way, I can free 
    up space on the main ship that used to 
    be detecated towards production. 

    you may need to zoom in on your browser to
    see all of the detail of this image. 
  </p>
</div>



<div class="parentboxcenter">
<hr>
  <h1> moon base up close</h1>
<hr>
</div>



<div class="parentbox">


<img src="../resources/images/fuckitzoomed.png" style="height:auto ; width: 500px;" > </img>

</div>


<div class="textcenter">
  <p class="betterp">
   since I am such a nice guy, heres a close up of the base!
  </p>
</div>



<div class="parentboxcenter">
<hr>
  <h1> conclusion</h1>
<hr>
</div>

<div class="textcenter">
  <p class="betterp">
   yeah thats my latest rimworld base, I might 
   try out an odessy run modded next time. 
   Or cough up the 25 bucks for the anomaly dlc idk.
  </p>
</div>







{% assign index = 3 %}

{% include "partials/contentfooter.njk" %}

</div>


{% include "partials/content_rsb.njk" %}


</div>



 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>