---
title: Motivational quote of the day
date: 2026-03-12 

description: post unavailable, sorry!
howtodofullpost: have the pipe bar, as seen below, then goto docs and grab compiled code with path to image hosted online. 
p2: the full path i.e. https://kerchunkleknoughts.github.io/mainblog/ Make sure to change from ../ to fullpath when ready to post.
p3: or just fucking start off with the path above, I dont care but I think a little prototyping is good. 

p4:  this is where the automation happens, baby! https://us2.make.com/organization/6395366/dashboard

fullpost: |

            





tags: 
- posts
- bposts
- featured


image: "https://kerchunkleknoughts.github.io/mainblog/resources/images/idea.jpg"
imageurl: "https://kerchunkleknoughts.github.io/mainblog/resources/images/idea.jpg"
---




{% assign library = "misc.html" %}






{% assign hostpath = "../" %}
{% assign hostpath = "https://kerchunkleknoughts.github.io/mainblog/" %}

<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 


<div class="mainmaindiv">


    <div class="maindiv">
    
      

    




 {% include "partials/contentheader.njk" %}
       

<hr>

  <iframe id="viewer" width="600" height="500" allow="fullscreen; xr-spatial-tracking" src="https://superspl.at/s?id=d10c5638"></iframe>
<br><br>

<p>
  Hagfish, of the class Myxini /mɪkˈsaɪnaɪ/ (also known as Hyperotreti) <br>
  and order Myxiniformes /mɪkˈsɪnɪfɔːrmiːz/, are eel-shaped jawless fish<br>
   (occasionally called slime eels). Hagfish are the only known living<br>
    animals that have a skull but no vertebral column, however they do <br>
    have rudimentary vertebrae.[4] Hagfish are marine predators and <br>
    scavengers[5] that can defend themselves against other larger <br>
    predators by releasing copious amounts of slime from mucous glands <br>
    in their skin.[6]<br>
    <br><br>

    Hagfish can exude copious quantities of a milky and fibrous slime or mucus,<br>
    from specialized slime glands.[6] When released in seawater, the slime expands<br>
    to 10,000 times its original size in 0.4 seconds.[13] This slime that hagfish <br>
    excrete has very thin fibers that make it more durable and retentive than the<br>
     slime excreted by other animals.[14] The fibers are made of proteins and also <br>
     make the slime flexible. If they are caught by a predator, they can quickly <br>
     release a large amount of slime to escape.[15] If they remain captured, they <br>
     can tie themselves in an overhand knot, and work their way from the head to the <br>
     tail of the animal, scraping off the slime and freeing themselves from their captor. <br>
     Rheological investigations showed that hagfish slime viscosity increases in <br>
     elongational flow which favors gill clogging of suction feeding fish, while<br>
      its viscosity decreases in shear which facilitates scraping off the slime <br>
      by the travelling-knot.[16]<br>
      <br><br><br>
      can you belive that <a href="https://www.youtube.com/watch?v=id1XEi7Jk7Y">shit</a> dude?<br>

</p>

{% assign index = 6 %}

{% include "partials/contentfooter.njk" %}

</div>


{% include "partials/content_rsb.njk" %}


</div>



 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>