---
title: house of leaves book review 
date: 2026-01-11
description: Review of this dogshit book
tags: 
- posts
- featured
- bposts
image: "resources/images/spaceship.png"
---
 {% assign library = "blog.html" %}



<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 


<div class="mainmaindiv">


  


    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>

<div class="parentbox" >

   <img src="../resources/images/justleave.jfif" class="fitcontentdiv" > </img>

</div>

 <div class="parentboxcenter" >


          <div class="textcenter" style="padding-right: 30px;">
        <p class="betterp">
           This book sucks so fucking bad omg <br>
          like the parts where it covers the navison story<br>
          and like their little exploration into the spooky <br>
          depths of the undiscovered space in their house is <br>
          alright I guess but like everything from Jonny just <br>
          fucking sucks. I feel like most of those sections are <br>
          written just for the sake of being convoluted, the <br>
          author just seems to be writing a whole lot and not <br>
          actually saying anything. <br>
          
          Theres a difference between actually writing good prose<br>
          i.e. something wicked this way comes, and just talking <br>
          out of your ass. <br>

          I'm just tired of the whole liminal space thing overall <br>
          at this point, its been overdone. It was originally just <br>
          a simple observation that some places are a little uncanny <br>
          and has been turned into another mass produced mainstream <br>
          source of content. Like the whole part where they hear something<br>
          growling in the liminal space, just seems disconnected from the <br>
          reason why liminal spaces are spooky in the first place. <br>
          IMO its uneasy because its unexplained. There isn't really <br>
          a resolution or something to resolve the tension of the space, <br>
          i.e. there is a nasty ghoul or ghost. <br> 
          what makes something like the backrooms great is this sort of <br>
          low grade and persistant discomfort, which isnt replaced with <br>
          terror or horror. <br>

          



        </p>
        
      </div>



      </div>

      <div class="parentboxcenter">
      <p>
      <p style="font-size: 20px; ">RATING</p>   <p style="font-size: 9px;">fuckyou</p>
          /10, learn how to write Mark Z. Danielewski<br></p>
</div>


{% assign index = 4 %}



{% include "partials/contentfooter.njk" %}

</div>

{% include "partials/content_rsb.njk" %}



</div>

 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>