---
title: pseudo digital detox guide
date: 2026-01-27 

description: 

howtodofullpost: have the pipe bar, as seen below, then goto docs and grab compiled code with path to image hosted online. 
p2: the full path i.e. https://kerchunkleknoughts.github.io/mainblog/ Make sure to change from ../ to fullpath when ready to post.
p3: or just fucking start off with the path above, I dont care but I think a little prototyping is good. 

p4:  this is where the automation happens, baby! https://us2.make.com/organization/6395366/dashboard

fullpost: | 
    
      <div class="parentboxcenter">
      <hr>
        <h1> ayo </h1>
      <hr>
      </div>

      <div class="parentbox">



      <img src="https://kerchunkleknoughts.github.io/mainblog/resources/images/bruh.jpg" style="height:auto ; width: 500px;" > </img>

      </div>

      <div class="textcenter">
        <p class="betterp">
          just testing if my rss feed works, 
          I use this handy dandy tool called ifttt
          which auto posts on tumblr whenever I 
          make a new page on this website. 

          Since my rss feed is automated via 11ty, 
          I set up ifttt to detect rss changes which
          report on every new page I make. 

          Give it a go <a href="https://ifttt.com/">here</a> !
        </p>
      </div>








tags: 

image: "resources/images/bruh.jpg"
imageurl: "resources/images/bruh.jpg"
---




{% assign library = "misc.html" %}




{% assign hostpath = "../" %}
{% assign hostpath1 = "https://kerchunkleknoughts.github.io/mainblog/" %}


<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 


<div class="mainmaindiv">


    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>




<div class="parentboxcenter">
<hr>
  <h1> Intro  </h1>
<hr>
</div>

<div class="parentbox">



<img src="{{hostpath}}resources/images/floride.jpg" style="height:auto ; width: 500px;" > </img>

</div>

<div class="textcenter">
  <p class="betterp">
    As much as I love a good shitpost, I like every other person on the 
    face of the earth right now often find myself thinking that I spend 
    too much time online. Big whoop. Here I will share some techniques 
    that I've found that somewhat works at preventing me from 
    spending literally all of my free time on the internet. 

    I make no promises on this guides effectiveness, it works some days 
    and it doesn't other days. I will also be updating this guide as 
    I find better techniques. 



  </p>
</div>


<div class="parentboxcenter">
<hr>
  <h1> Delayed gratification method </h1>
<hr>
</div>

<div class="parentbox">



<img src="{{hostpath}}resources/images/cry.jpg" class="indicator3" > </img>

</div>


<br>

<div class="parentbox" >



<img src="{{hostpath}}resources/images/inpoint.png" class="fitcontentdiv" > </img>


<div class="textcenter" style="padding-left: 30px;">
  <p class="betterp">
    Uaehh I freaking love tumblr, and actually think that the time 
    I spend on it is sometimes well spent. The problem is when I 
    take it too far and browse it for an hour or more. 

    One of the main appeals I find comes from the absolutely 
    unhinged and bizarre posts that I don't find anywhere else. 

    Case in point to the left.

    So, my compromise with myself is to not go cold 
    turkey, but to set a tumblr time threshold. 
    Only at 6:00pm I allow myself to go online for like 
    20 minutes (yeah I set a timer), then, I get 
    back to doing other stuff. 

    That way, I still get a taste of online life, 
    and also don't feel like some type of phone 
    zombie. 



  </p>
</div>

</div>


<marquee behavior="scroll" direction="left" scrollamount="3" width="750px">

        <img src="{{hostpath}}resources/images/tf2.gif" class="indicatorp5"> </img>

</marquee>

<div class="parentbox" >


    <div class="textcenter" style="padding-right: 30px;">
  <p class="betterp">
    I am also experimenting with 
    moving more addicitive content (yt` shorts)
    to all the way to right before I 
    go to bed, with my timer set to 
    ten minutes. My philiosophy is that 
    since I am all doped out on melatonin, 
    I get too drowsy for it to become 
    a serious time sink, and I can easily turn it 
    off when I need to. Also at that point 
    I've already spent the whole day with 
    a higher level of dicipline, so it becomes 
    easier to shut things down.

    Basically, whenever I feel a craving to 
    go online, I can tell myself that I've 
    got phone in bed time later, and can 
    focus on other things. 



  </p>
</div>


<img src="{{hostpath}}resources/images/eepy.jpg" class="fitcontentdiv" > </img>



</div>





<div class="parentboxcenter">
<hr>
  <h1> Pavlov had a point maybe</h1>
<hr>
</div>

<br>

<div class="parentbox">
<img src="{{hostpath}}resources/images/pav.jpg" class="fitcontentdiv" > </img>



    <div  style="padding-left: 30px;">
  <p class="betterp">
    Another method I've deployed to stay productive, 
    is to form a pavlovian association with 
    dressing nice and being busy. Every time I 
    get working on schoolwork, I put on my
    </p>
    <p style="font-family: fantasy;">
       ✨ fancy trowsers✨</p> 
    <p class="betterp">  
    and a nice regular ass shirt (no metal tshirts).  
    To be honest, I have no idea if this actually works, but 
    you know what they say, if it aint broke don't 
    fix it!
        </p>  


</div>

</div>


<div class="parentboxcenter">
<hr>
  <h1> HOLY MANGA STRAT</h1>
<hr>
</div>

<br>



<div class="parentbox">


    <div class="textcenter" style="padding-right: 30px;">
  <p class="betterp">
      I tend to get a little nervious 
      when I am sitting somewhere in public 
      and need to pass the time in a room full 
      of people. Now a social person would 
      turn to their neighbor and strike up 
      a conversation and make lifelong 
      friends and ride off into the sunset with a 
      billion dollars, but thats not how I roll baby. 

      Instead, I found the way to not give in to the 
      temptation of slushifying my mind with social media
      right then and there is to just read manga on my phone. 

      You can find just about any manga online for <a href="https://mangakatana.com/"> free</a>
      so long as you pair it with a good mobile ad block. 

      I usually use firefox with this <a href="https://addons.mozilla.org/en-US/firefox/addon/adblock-for-firefox/">extension</a>
    </p>
 


</div>


<div class="parentbox">
<img src="{{hostpath}}resources/images/veg.jpg" class="fitcontentdiv" style="height:200px;" > </img>
</div>

</div>





<div class="parentboxcenter">
<hr>
  <h1> TIMERS!</h1>
<hr>
</div>


<div class="parentboxcenter">
<img src="{{hostpath}}resources/images/rabb.webp" class="indicator2" > </img>
</div>



<br>

<div class="parentbox">




    <div  style="padding-left: 30px;">
  <p class="betterp">
      Its been said and done before, but I like 
      to set a timer for some amount of work 
      before I start the day, and whenever I
      get through an hour I pause the timer and 
      take a break. Uhh the only problem with 
      this system is sometimes I feel bad for 
      not working for as long as the timer 
      was set to. 
    </p>
   


</div>

</div>







     

<br><br>







{% assign index = 5 %}

{% include "partials/contentfooter.njk" %}

</div>


{% include "partials/content_rsb.njk" %}


</div>



 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>