---
title: How to master alphabetical organization (silly)
date: 2025-12-15
description: 
tags: 
- bposts
- posts
---
 {% assign library = "blog.html" %}




<!doctype html>
<html lang="en">
  <head>
    


     <meta http-equiv="refresh" content="0; url=https://kerchunkleknoughts.github.io/dogwithablog.gov/blog/blogpost00.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 




    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>








{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>





 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>