
<script>






    document.addEventListener("DOMContentLoaded", function() {

        {% if index!=-1 %}
        randodreamaudio()
    
        {% endif %}




        let audio = document.getElementById("bgm");
        setTimeout(() => {
            

            var value = localStorage.getItem('enablemusic');
               console.log("MUSIC ENABLE VALUE:")

              console.log(value)
              if(value==1){

            audio.play().catch(error => console.log("Autoplay blocked:", error));
              }


        }, 1500); // Delay autoplay

    });




 



    document.body.addEventListener("click", playAudio);

    document.body.addEventListener("mouseover", playAudio);





    function playAudio() {
       

       

        // Remove event listeners after first interaction to prevent multiple triggers
      
        let musicenabled=1;

        
        
        if(!(document.getElementById("bgm")==null)){

        document.body.click();
        //console.log("MOUSED!");
        let audio = document.getElementById("bgm");


               var value = localStorage.getItem('enablemusic');
               console.log("MUSIC ENABLE VALUE:")

              console.log(value)
              if(value==1){
        audio.play().catch(error => console.log("Autoplay blocked:", error));
              }


        if (audio.paused == false) {
          
          document.body.removeEventListener('mouseover', playAudio);
          console.log("eventlistener removed :(");
          let audio = document.getElementById("postmusicclick");

          if(value==1){
          audio.play().catch(error => console.log("Autoplay blocked:", error));
          }
          
        }


        }else{

          let audio = document.getElementById("postmusicclick");
          audio.play().catch(error => console.log("Autoplay blocked:", error));


            console.log("post music click");

          

         
        }




    }






</script>



</script>


  
{% if goption==1 %}

<script src="../resources/progresources/js/pscript.js"></script>  

{% endif %}


{% if goption==2 %}

<script src="../resources/progresources/js/script.js"></script>  

{% endif %}


{% if goption==3 %}

<script src="../resources/progresources/js/bscript.js"></script>  

{% endif %}



