 

 <div class="parentboxcenter">

    <div class="headystyle">
    
  
      

       <button onclick="gotoprevindex({{ index }})">Prev post</button>
       <button onclick="gotonextindex({{ index }})">Next post</button>

       <button onclick="randomdream()">random post</button>
       <button onclick="location.href='../{{ library }}'">post library</button>


   
   </div>
   </div>
   