



    <div class="headstyle">
    <h4>
        {{ title }}
    </h4>
</div>

<hr>



<div class="headstyle">





    <header>
      <div>



    
        <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index.html">about |</a>
        <a href="../index.html">home |</a>
        <a href="../projects.html">creative/projects |</a> 
        <a href="../blog.html">blog |</a> 
        <a href="../misc.html">misc |</a> 
        <a href="../guestbook.html">get updates |</a> 
    



      </div>

    </header>


  </div>

      <div class="spacer">

        </div>
