 <div class="rightsidebar"> 
  


 
          <div class="scrollmelong">
            <h4 style="font-family: Impact"> 👀HOLY SHIT QUICK LINKS</h4>



                      <ul>
       <li><a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/music.html">my music</a></li> <br>
        </ul>

          <ul>
       <li><a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/drawings.html">my art</a></li> <br>
        </ul>


                <ul>
       <li><a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/wikifun.html">Interesting wiki pages</a></li> <br>
        </ul>

          <ul>
       <li><a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/dreams/dream00.html">my dream log</a></li> <br>
        </ul>

        <ul>
       <li><a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/photos.html">my photos</a></li> <br>
        </ul>

   

 
  
          </div>
              
  

  <hr style="border-top: dashed 2px;" />





 
<div>
  <h2 class="lefttext"> featured:</h2>
</div>

<div class="scrollme">
  <ul>
  
    {% for post in collections.featured | sort(attribute="date") | reverse %}
    <br>
      <li>
        <a href="..{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>


<hr style="border-top: dashed 2px;" />




<div class="scrollme">


<div>

    <h2 class="lefttext">all posts:</h2>
</div>


  <ul>
    {% for post in collections.posts | reverse %}
    <br>
      <li>
        <a href="..{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

 <hr style="border-top: dashed 2px;" />

    
      <br>
  




































      <br>



    <br>
    
   

          
              <div class="parentboxcenter">

             
               <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index">
                        <img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png" class="neighborhoodbuttonchild"></img>
                          </a>
                           </div>
                  <div class="parentboxcenter">
               <textarea id="w3review" name="w3review" rows="4" cols="10" >
                        <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index"><img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png"></img></a>
                        </textarea>
                        </div>







<br><br>

                              <div class="parentboxcenter">

                                  <img src="../resources/images/underthedarmicwheel.gif" class="indicatorp5"> </img>

                                    <div class="childtextboxpadded">
                           
                                for the love of god come see my <a href="https://www.tumblr.com/kerchunkleknoughts">tumblr</a>
                        </div>

                              </div>





<br><br>



                              <div class="parentboxcenter">

                                  <img src="../resources/buttons/webdesign.gif"></img>

                                   
                                <div class="betterp">
                                neocities
                                <a href="https://neocities.org/site/kerchunkle">profile</a>
                 
                                </div>
                                

                              </div>


                              <br><br>





<div class="parentboxcenter">

   <p> hey... did you know that you can <a href="mailto:theunclekerchunkle@gmail.com" style="color: rgb(0, 0, 0);">email</a> me? </p>
   <img src="../resources/images/clip_preg.jpg" class="indicator1"></img>
   
   

</div>





                              
    <br><br>


                               <div class="betterparentboxcenter">
            <iframe aria-label="Guestbook" id="guestbook" src="https://kerchunkle.atabook.org/" style="border: 0px none;  
            height: 500px; margin-top: 0px; width: 200px;" loading="lazy"></iframe>
            </div>

        <br>
    

 


 
 

        

 


</div>


