










<footer>

    <br><br>
    <div class="parentboxcenter">



    <a href="feed.xml" class="childtextboxpadded">
        <img src="resources/images/RSS_Logo.png" alt="RSS Feed" style="width: 20px; height: 20px"> 
    </a>



    <a href="#top" class="childtextboxpadded">Back to top</a>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    {% include "./scripts.njk" %}

</div>

    </footer>



    


    