















<script src="https://iframe.chat/scripts/main.min.js"></script>


<link rel="stylesheet" href="https://ultrakill.nekoweb.org/onionring.css">

<script src="./resources/progresources/js/script.js"></script>  






<script>






   




 



    document.body.addEventListener("click", playAudio);

    document.body.addEventListener("mouseover", playAudio);





    function playAudio() {
       

       




        // Remove event listeners after first interaction to prevent multiple triggers
      
       

        
        
        if(!(document.getElementById("bgm")==null)){

        document.body.click();
        console.log("MOUSED!");
        let audio = document.getElementById("bgm");


              
        audio.muted=false;

        console.log("Is autoplay muted?")
        console.log(audio.muted)
        audio.play();

        //audio.play().catch(error => console.log("Autoplay blocked:", error));
        



        
        if (audio.paused == false) {
          
          document.body.removeEventListener('mouseover', playAudio);
          console.log("listener removed.")


        }




      
         
        }




    }





 document.addEventListener("DOMContentLoaded", function() {

        
    randodreamaudio()

     setTimeout(() => {
            
          playAudio()
          let audio = document.getElementById("bgm");
          audio.play();

        }, 1500); // Delay autoplay



    });



</script>









