---
title: New rimworld webring!
date: 2026-01-17   
description: Like rimworld? Want to join a webring? Well buddy do I have some news for you! 
tags: 
- mposts
- posts
- mfeatured
- featured
image: "resources/images/ringlinkadvert.gif"
---
 {% assign library = "misc.html" %}



 {% assign minibaren = 1 %}
 


<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 


<div class="mainmaindiv">


    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>




<div class="parentboxcenter">
<hr>
  <h1> This is the page</h1>
<hr>
</div>



<div class="parentbox">


<img src="../resources/images/advert1.png" style="height:auto ; width: 500px;" > </img>

</div>





<div class="textcenter">
  <p class="betterp">
        This is the page where I advertise my new webring, 
        uhh come take a look if you are interested!

    link is <a href="https://rimring.neocities.org/">here</a> !
  </p>
</div>





















        

<br><br>







{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>
{% include "partials/content_rsb.njk" %}


</div>





 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>