---
title: rss feed tester
date: 2026-01-26 

description: just testing if my rss feed works, i use this handy dandy tool called ifttt which auto posts on tumblr whenever i make a new page on this website, since my rss feed is automated via 11ty i set up ifttt to detect rss changes which report on every new page i make

howtodofullpost: have the pipe bar, as seen below, then goto docs and grab compiled code with path to image hosted online. 
p2: the full path i.e. https://kerchunkleknoughts.github.io/mainblog/ Make sure to change from ../ to fullpath when ready to post.

fullpost: | 
    <div class="parentboxcenter">
    <hr>
      <h1> ayo </h1>
    <hr>
    </div>

    <div class="parentbox">



    <img src="../resources/images/bruh.jpg" style="height:auto ; width: 500px;" > </img>

    </div>

    <div class="textcenter">
      <p class="betterp">
        just testing if my rss feed works, 
        I use this handy dandy tool called ifttt
        which auto posts on tumblr whenever I 
        make a new page on this website. 

        Since my rss feed is automated via 11ty, 
        I set up ifttt to detect rss changes which
        report on every new page I make. 

        Give it a go <a href="https://ifttt.com/">here</a> !
      </p>
    </div>



tags: 
- mposts
- posts
image: "resources/images/bruh.jpg"
imageurl: "resources/images/bruh.jpg"
---




{% assign library = "misc.html" %}



{% assign minibaren = 1 %}
{% assign hostpath = "../" %}
{% assign hostpath1 = "https://kerchunkleknoughts.github.io/mainblog/" %}


<!doctype html>
<html lang="en">
  <head>
    
    <meta content="0; url=project1.html">

{% include "partials/defstyle.njk" %}

<link rel="stylesheet" href="../resources/progresources/globalcss.css">



</head>




  

<body>


 


<div class="mainmaindiv">


    <div class="maindiv">
    

 {% include "partials/contentheader.njk" %}
       

<hr>
<br><br>




<div class="parentboxcenter">
<hr>
  <h1> ayo </h1>
<hr>
</div>

<div class="parentbox">



<img src="{{hostpath}}resources/images/bruh.jpg" style="height:auto ; width: 500px;" > </img>

</div>

<div class="textcenter">
  <p class="betterp">
    just testing if my rss feed works, 
    I use this handy dandy tool called ifttt
    which auto posts on tumblr whenever I 
    make a new page on this website. 

    Since my rss feed is automated via 11ty, 
    I set up ifttt to detect rss changes which
    report on every new page I make. 

    Give it a go <a href="https://ifttt.com/">here</a> !
  </p>
</div>





















        

<br><br>







{% assign index = 0 %}

{% include "partials/contentfooter.njk" %}

</div>


{% include "partials/content_rsb.njk" %}


</div>



 
 {% assign goption = 3 %}


 {% include "partials/contentscripts.njk" %}


 



</body>
</html>